# --------------------
# Python
# --------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# --------------------
# Virtual Environments
# --------------------
.venv/
venv/
env/

# --------------------
# IDE / Editor
# --------------------
.vscode/
.idea/

# --------------------
# OS files
# --------------------
.DS_Store
Thumbs.db

# --------------------
# ML / ASR Libraries
# --------------------
NeMo/
vosk-model-small-en-us-0.15/

# --------------------
# Logs & temp
# --------------------
*.log
*.tmp
